<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mytheresa - Product Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://www.mytheresa.com/skin/frontend/mytheresa/default/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href="/css/navbar.css">
    <link rel = "stylesheet" href="/styles/product_description.css">
    <link rel="stylesheet" href="/styles/search_box.css"> 
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>

<style>
    .roboto{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .f-size-40{
        font-size: 40;
    }
    .f-size-20{
        font-size: 20;
    }
    .width-35{
        width: 35%;
    }
</style>

<body>

        <!-- ----------- navbar (Start) ----------- -->

        <div id="mainCont">
            <div id="navbar">
                <div class="set1">
                    <div>
                    <a href="#">WOMEN</a>
                    <a href="#">MEN</a>
                    <a href="#">KIDS</a>            
                    </div>
                    <div>
                    <a href="#">Signup for Newsletter</a>
                    <a href="#">My Account</a>
                    <a href="#">My Wishlist</a>
                    <a href="#">International|English</a>
                    </div>
                </div>
                <div class="set2">
                    <div><a href="/home">
                    <img src="https://www.mytheresa.com/skin/frontend/mytheresa/default/images/logo.png?v=20220318T121226" id="logo"></img></a>
                    </div>
                    <div class="bag"><a href="/cart">
                        <span>Shopping Bag</span>
                         <img src="https://img.icons8.com/external-justicon-lineal-justicon/2x/external-shopping-bag-ecommerce-justicon-lineal-justicon.png" alt="" />
                        </a>
                      </div>
                </div>
                <div class="set3">
                <div class="">
                    <a href="#">NEW ARRIVALS</a>
                    <a href="#">DESIGNERS</a>
                    <a href="#">CLOTHING</a>
                    <a href="#">SHOES</a>
                    <a href="#">BAGS</a>
                    <a href="#">ACCESSORIES</a>
                    <a href="#">SALE</a>            
                </div>
                <div class="nav-search">
                    <input type="search" id=""
                        placeholder="Search for...." />
                    <img src="https://t3.ftcdn.net/jpg/01/91/82/02/240_F_191820274_urGUeyW2HNudPI1oaMMnQZbyk6WYE5Ey.jpg" alt="">
                </div>
            </div>
            </div>
        </div>
            <hr>
    
        <!-- ----------- navbar (End) ----------- -->
        <div id="logOutDropDown" class="noDropDownDisplay">
            <div class="logout">Log Out</div>
        </div>
        <div id="dropDown" class="noDropDownDisplay"></div>
    

<div style="text-align: center; width: 80%; margin: auto;">
    <div class="gif-container">
        <img src="https://cdn.dribbble.com/users/147386/screenshots/5315437/media/64a3a80eb03d6fe459abd7e7c1d889f9.gif" alt="Success" class="width-35">
    </div>
    <div class="roboto">
        <h2 class="f-size-40">Your Order Confirmed</h2>
        <p class="f-size-20">Thanks for Shopping.</p>
    </div>
</div>

</body>

</html>

<script src="/scripts/search_box.js"></script>
<script src="/scripts/changeNavbar.js"></script>