<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment - Confirmation</title>
    <link
      rel="icon"
      href="https://www.mytheresa.com/skin/frontend/mytheresa/default/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/style-sec.css" />
  </head>

  <body>
    <div>
      <div id="pinPage" class="bg-black flex-div">
        <div class="logo">
          <div class="logo-pic">
            <div
              class="flex-div curs-or pos-relative"
              itemscope="true"
              itemtype="http://schema.org/Brand"
              style="min-width: 150px; min-height: 79px"
            >
              <a href="/home"
                ><img
                  class=""
                  src="https://www.mytheresa.com/skin/frontend/mytheresa/default/favicon.ico"
                  width="150"
                  height="50"
                  alt="Groww Logo"
                  itemprop="logo"
              /></a>
            </div>
          </div>
        </div>

        <div class="flex-div otp-input">
          <div style="margin: 0">
            <div class="input-box">
              <div class="row">
                <div class="flex-div main-inp-div">
                  <div class="secure-text">
                    <div class="text-onee">Your Order has been Confirmed</div>
                    <div class="text-twoo">
                      Thank you for Shoppin with Mytheresa
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
